  Agent       

            

   -
  AI 
  


  

  2025  6 
 NLP                     

1 

 Agent

         NLP-Agent -- AI

       
                       
       2025  6  26 
       

2                    

        

       
        

        AI 
       
       

       
        AI 

       1

                         1
 NLP                                                                                                                     

             "/
       / AI "
       

              
            
          
    
      
    
  


       2
 NLP   

              
            
          
        
    

                        

    
  


                                                                                                                                                         3
 NLP     

       

              
     
    

                 ""

    
    2 AI 

                        

     
  


                        " AI " AI 

                 

                 

                                                                                                                                                         4
 NLP   

                      (1) 

                           AI 

                      

                      

    (2) 
                           

    

                      

    (3) 
                         AI 

    

                 

     
    

                 

  


       5
 NLP   

              
            
          
        
      
    
  


                 
                 1. 

                                                                                                                                                         6
 NLP     

        GPT-4Qwen 
        

        

       

         
           
         
           
 
        2 

       1UML

        2

       3

        1 bug
        2
       


               7
 NLP                  

                      

           

         

       
 
       1 CursorTrae 
       2

                      8
