Agent 
-
 AI 

2025  6 








 NLP  
1
1 
 Agent
  NLP-Agent -- AI

 2025  6  26 
 
2 




 AI 



 AI 
1








 NLP  
2
"/
/ AI "










 NLP  
3











 NLP  
4



""

2 AI 

 
" AI " AI 










 NLP  
5
(1) 
AI 



(2) 



(3) 
 AI 













 NLP  
6

1. 








 NLP  
7
 GPT-4Qwen 
 
 

 

 

 2 

1UML
2
3

1 bug
2








 NLP  
8

1 CursorTrae 
2








