pages=9

--- PAGE 1 ---
A
g
e
n
t
数
字
人
项
目
教
育
智
能
体
-
面
试
A
I
复
盘
任
务
工
单
八
维
文
化
与
产
业
研
究
院
2
0
2
5
年
6
月
北京八维信息集团


--- PAGE 2 ---
人
工
智
能
N
L
P
方
向
任
务
工
单
1
1
基
本
信
息
工
单
对
应
的
项
目
名
称
A
g
e
n
t
工
单
编
号
人
工
智
能
N
L
P
-
A
g
e
n
t
数
字
人
项
目
-
教
育
智
能
体
-
面
试
A
I
复
盘
任
务
创
建
时
间
2
0
2
5
年
6
月
2
6
日
创
建
人
王
洪
荣
2
任
务
描
述
任
务
描
述
对
于
校
务
管
理
者
和
老
师
来
说
，
跟
踪
学
生
就
业
中
的
简
历
投
递
情
况
以
及
面
试
过
程
中
的
回
答
情
况
，
会
更
好
的
辅
助
学
生
实
现
优
质
就
业
。
简
历
投
递
及
面
试
A
I
复
盘
的
核
心
业
务
需
求
如
下
：
一
、
简
历
投
递
情
况
分
析
：
这
个
功
能
不
作
为
本
次
工
单
任
务
核
心
要
解
决
的
问
题
，
简
历
投
递
情
况
需
要
在
浏
览
器
通
过
插
件
的
方
式
跟
踪
学
生
在
招
聘
网
站
上
的
投
递
情
况
，
并
进
行
统
计
分
析
；
二
、
面
试
A
I
复
盘
1
、
面
试
列
表
北京八维信息集团


--- PAGE 3 ---
人
工
智
能
N
L
P
方
向
任
务
工
单
2
面
试
列
表
具
体
显
示
“
学
生
、
岗
位
名
称
、
面
试
轮
次
/
形
式
、
面
试
城
市
/
时
间
、
上
报
人
、
上
报
时
间
、
面
试
A
I
复
盘
”
等
信
息
。
如
图
所
示
：
点
击
学
生
姓
名
，
可
查
看
学
生
提
交
的
面
试
记
录
：
北京八维信息集团


--- PAGE 4 ---
人
工
智
能
N
L
P
方
向
任
务
工
单
3
就
业
指
导
面
试
记
录
批
量
导
入
点
击
右
侧
的
导
入
按
钮
，
就
业
指
导
可
批
量
导
入
学
生
的
面
试
记
录
：
北京八维信息集团


--- PAGE 5 ---
人
工
智
能
N
L
P
方
向
任
务
工
单
4
面
试
批
量
导
入
模
板
如
图
：
批
量
导
入
后
面
试
列
表
如
图
，
可
通
过
上
报
人
区
分
该
数
据
是
教
师
导
入
还
是
学
生
自
己
填
报
，
如
果
学
生
对
面
试
记
录
进
行
了
修
改
，
上
报
人
会
改
为
学
生
名
字
（
目
前
学
生
可
针
对
两
天
内
和
“
待
完
善
”
的
面
试
记
录
进
行
修
改
）
。
2
、
面
试
A
I
复
盘
若
学
生
上
报
的
面
试
记
录
有
上
传
录
音
文
件
，
在
面
试
列
表
最
右
侧
的
操
作
栏
，
会
出
现
图
标
：
点
击
“
面
试
A
I
复
盘
”
，
进
入
到
A
I
复
盘
详
情
页
。
本
页
展
示
的
是
学
生
面
试
后
的
详
细
表
现
，
主
要
方
便
老
师
评
估
、
学
生
自
我
复
盘
。
页
面
内
容
分
为
几
个
部
分
：
北京八维信息集团


--- PAGE 6 ---
人
工
智
能
N
L
P
方
向
任
务
工
单
5
(
1
)
总
体
评
价
A
I
会
根
据
学
生
在
整
个
面
试
中
的
表
现
打
一
个
总
分
，
并
给
出
简
短
的
整
体
评
价
，
帮
助
了
解
当
前
水
平
处
于
哪
个
阶
段
。
对
自
我
介
绍
进
行
了
点
评
，
以
及
对
整
个
面
试
提
出
了
修
改
建
议
。
(
2
)
问
题
解
析
列
出
了
本
次
面
试
中
出
现
的
核
心
问
题
，
每
个
问
题
都
有
打
分
和
简
要
点
评
。
学
生
可
以
看
到
哪
些
答
得
不
错
，
哪
些
还
有
待
加
强
。
(
3
)
面
试
对
话
完
整
还
原
了
面
试
过
程
中
的
问
答
内
容
，
左
边
是
A
I
优
化
版
，
右
边
是
完
整
记
录
。
学
生
可
以
对
照
回
顾
答
题
思
路
，
老
师
也
可
以
用
来
辅
导
讲
解
。
这
个
页
面
是
帮
助
学
生
了
解
自
己
的
答
题
表
现
、
发
现
提
升
空
间
的
重
要
工
具
。
建
议
学
生
每
次
面
试
后
认
真
查
看
，
老
师
也
可
以
据
此
给
予
有
针
对
性
的
反
馈
。
北京八维信息集团


--- PAGE 7 ---
人
工
智
能
N
L
P
方
向
任
务
工
单
6
三
：
技
术
实
现
方
案
1
.
核
心
技
术
选
型
（
参
考
）
北京八维信息集团


--- PAGE 8 ---
人
工
智
能
N
L
P
方
向
任
务
工
单
7

大
模
型
：
G
P
T
-
4
、
Q
w
e
n
等
，
负
责
内
容
生
成
、
语
言
理
解
等
；

知
识
库
：
记
录
每
个
专
业
所
需
的
核
心
技
术
点
；

语
音
识
别
：
通
过
语
音
识
别
模
型
将
原
始
的
语
音
文
件
识
别
为
文
本
；

面
试
文
本
内
容
优
化
：
使
用
大
模
型
实
现
文
本
纠
错
、
技
术
点
匹
配
、
面
试
问
题
提
取
；

面
试
问
题
评
分
、
问
题
总
结
及
建
议
：
使
用
大
模
型
评
估
面
试
问
题
的
回
答
情
况
、
并
对
整
体
回
答
情
况
进
行
总
结
及
建
议
；
工
时
预
估
2
人
日
产
出
物
1
、
技
术
流
程
图
（
U
M
L
）
、
接
口
设
计
、
数
据
库
设
计
；
2
、
前
后
端
核
心
功
能
实
现
代
码
；
3
、
测
试
用
例
及
测
试
结
果
验
收
标
准
1
、
前
后
端
功
能
测
试
通
过
，
没
有
明
显
b
u
g
2
、
输
入
一
段
面
试
录
音
，
输
出
如
下
图
所
示
的
分
析
内
容
：
北京八维信息集团


--- PAGE 9 ---
人
工
智
能
N
L
P
方
向
任
务
工
单
8
备
注
1
、
使
用
C
u
r
s
o
r
、
T
r
a
e
等
智
能
编
程
工
具
实
现
；
2
、
代
码
注
释
需
包
括
工
单
编
号
；
北京八维信息集团

